.cards__subtitle {
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.7;
  color: #9e9aa8;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .cards__subtitle {
      text-align: center;
  }
}
