.shorten-form__button {
  width: 188px;
  height: 64px;
  background: #2BD0D0;
  border-radius: 10px;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  border: none;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s linear;
}


.shorten-form__button:hover {
  background: #9AE3E3;
}

@media screen and (max-width: 767px) {
  .shorten-form__button {
    width: 100%;
    border-radius: 5px;
  }
  }
