.shorten-form__input {
  width: calc(100% - 212px);
  padding: 14px 32px;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: rgba(52, 49, 61, .5);
  letter-spacing: 0.15px;
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .shorten-form__input {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 5px;
  padding: 6px 16px;
}
}
