.header__getstarted {
  width: 197px;
  height: 56px;
  background: #2BD0D0;
  border-radius: 28px;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  border: none;
  transition:   all 0.5s linear;
}

.header__getstarted:hover {
  background: #9AE3E3;
}

@media screen and (max-width: 767px) {
  .header__getstarted {
margin: 0 auto 8px;
}
}
