.header-nav__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header-nav__links {
    width: 100%;
    flex-direction: column;
    border-bottom: 1px solid rgba(158, 154, 168, .25);

  }
  .header-nav__links:last-child {
    border: 0;
    margin-top: 32px;
  }
}
