.header__nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 139px;
}

@media screen and (max-width: 767px) {
  .header__nav-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
  }
}
