.menu-burger__button-toggle, .menu-burger__button-toggle:after, .menu-burger__button-toggle:before{
  height: 3px;
  width: 100%;
  position: absolute;
  background: #9E9AA8;
  margin: 0 auto;
}

.menu-burger__button-toggle {
top: 21px;
}
.menu-burger__button-toggle:after, .menu-burger__button-toggle:before{
content: '';
}
.menu-burger__button-toggle:after{
bottom: 5px;
}
.menu-burger__button-toggle:before{
top: 5px;
}



