.header-nav__sign {
  width: 105px;
  height: 40px;
  background: #2BD0D0;
  border-radius: 28px;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  border: none;
  transition: all 0.5s linear;
}

.header-nav__sign:hover {
  background: #9AE3E3;
}
