.header__subtitle {
  max-width: 540px;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.6;
  color:#9E9AA8;
  letter-spacing: 0.15px;
  margin-top: 0;
  margin-bottom: 38px;
}

.header__subtitle::after {
  content: "";
  width: 733px;
  height: 482px;
  position: absolute;
  top: 166px;
  right: -123px;
  background-image: url(../../../images/illustration-working.svg);
  background-position: inherit;
}
