.cards__item {
  padding: 77px 32px 41px;
  position: relative;
  background-color: #fff;
  z-index: 1;

}

.cards__item:last-child .cards__title::before {
  background-image: url(../../../images/icon-fully-customizable.svg);
}

.cards__item:first-child .cards__title::before {
  background-image: url(../../../images/icon-brand-recognition.svg);
}

.cards__item:first-child {
  transform: translate(0, -44px);
}

.cards__item:last-child {
  transform: translate(0, 44px);
}


@media screen and (max-width: 767px) {
  .cards__item:first-child {
    transform: translate(0, 0);
  }

  .cards__item:last-child {
    transform: translate(0, 0);
  }
}
