.header__title {
  width: 100%;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 1.1;
  color:#34313D;
  letter-spacing: -2px;
  margin: 0 auto 5px;
}


@media screen and (max-width: 767px) {
.header__title {
  font-size: 42px;
  line-height: 1.15;
  letter-spacing: -1.05px;
  text-align: center;
  margin: 470px auto 15px;
  }


}
