.header__image {
  width: 533px;
}

@media screen and (min-width: 1440px) {
  .header__image {
      width: 733px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .header__image {
      width: 433px;
  }
}

@media screen and (max-width: 768px) {
  .header__image {
      width: 100%;
      height: 320px;
      margin-bottom: 37px;
      object-fit: cover;
      object-position: left;
  }
}
